Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

.github/labeler.yml:

documentation:
  - "docs/*"

migrations:
  - "hubuum/migrations/*"

models:
  - "hubuum/models/*"

settings:
  - "hubuumsite/settings.py"

dependencies:
  - "requirements*"

testing:
  - "hubuum/tests/*"
  - "hubuum/api/*/tests/*"
  - "tox.ini"

github_actions:
  - ".github/workflows/*"

Deployed 5fd4964 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-37573a59.html
Labels: none

Deployed 5fd4964 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-c9a52192.html
Labels: none

Update swagger before deploying docs.
  .github/workflows/deploy-documentation.yml
Labels: github_actions

Add tox to development requirements
  requirements-dev.txt
Labels: dependencies

Deployed ce611c3 with MkDocs version: 1.4.3
  hubuum-api-v1.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-9a54fa26.html
Labels: none

Fix duplicate operationIDs for attachments. Fixes #133
  docs/hubuum-api-v1.json
  hubuum/api/v1/views/attachment.py
Labels: documentation

Test the attachment auto schema.
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/views/attachment.py
Labels: testing

Deployed 91adfa6 with MkDocs version: 1.4.3
  hubuum-api-v1.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-01fc94c8.html
Labels: none

Split URLs, update tests, update api docs.
  docs/hubuum-api-v1.json
  hubuum/api/v1/endpoints/__init__.py
  hubuum/api/v1/endpoints/attachments.py
  hubuum/api/v1/endpoints/extensions.py
  hubuum/api/v1/endpoints/iam.py
  hubuum/api/v1/endpoints/resources.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_10_create_users_groups_and_namespaces.py
  hubuum/api/v1/tests/test_11_namespaces.py
  hubuum/api/v1/tests/test_15_cascade.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_30_extensions.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/tests/test_41_pagination.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/urls.py
Labels: documentation, testing

Deployed 20deecc with MkDocs version: 1.4.3
  hubuum-api-v1.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-17fb6361.html
Labels: none

Deployed e675434 with MkDocs version: 1.4.3
  404.html
  about/index.html
  api/index.html
  assets/javascripts/bundle.c2be25ad.min.js
  assets/javascripts/bundle.c2be25ad.min.js.map
  assets/javascripts/bundle.fac441b0.min.js
  assets/javascripts/bundle.fac441b0.min.js.map
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-8a0705d8.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Mock LogHttpResponseMiddleware to test slow and broken responses.
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/middleware/logging_http.py
Labels: testing

Add test for missing download file.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/views/attachment.py
Labels: testing

Test assert_list_contains().
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_00_internals.py
Labels: testing

Better test coverage through mock for fun. (#141)
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/attachment.py
  hubuum/middleware/logging_http.py
Labels: testing

Deployed 7c09b9d with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-56dccc01.html
Labels: none

Use typed python.
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/extension.py
  hubuum/api/v1/views/iam.py
  hubuum/apps.py
  hubuum/exceptions.py
  hubuum/filters.py
  hubuum/log.py
  hubuum/middleware/logging_http.py
  hubuum/models/auth.py
  hubuum/models/core.py
  hubuum/models/permissions.py
  hubuum/models/resources.py
  hubuum/pagination.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tools.py
  hubuum/validators.py
  hubuumsite/settings.py
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  setup.cfg
  tox.ini
Labels: models, settings, dependencies, testing

Use typed python. Fixes #140
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_30_extensions.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/tests/test_41_pagination.py
Labels: testing

Fix dict/Dict.
  hubuum/api/v1/tests/test_41_pagination.py
Labels: testing

Further cleanup.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_42_logging.py
Labels: testing

Last bit of type cleanups.
  hubuum/admin.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/filters.py
  hubuum/models/__init__.py
  hubuum/permissions.py
Labels: models, testing

Use typed python. (#143)
  hubuum/admin.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_30_extensions.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/tests/test_41_pagination.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/extension.py
  hubuum/api/v1/views/iam.py
  hubuum/apps.py
  hubuum/exceptions.py
  hubuum/filters.py
  hubuum/log.py
  hubuum/middleware/logging_http.py
  hubuum/models/__init__.py
  hubuum/models/auth.py
  hubuum/models/core.py
  hubuum/models/permissions.py
  hubuum/models/resources.py
  hubuum/pagination.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tools.py
  hubuum/validators.py
  hubuumsite/settings.py
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  setup.cfg
  tox.ini
Labels: models, settings, dependencies, testing

Deployed 1f80b3e with MkDocs version: 1.4.3
  model/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-0251fb58.html
Labels: none

Enable SQLite as a testing option.
  docs/configuration.md
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/migrations/0001_initial.py
  hubuumsite/settings.py
  tox.ini
Labels: documentation, migrations, settings, testing

Abstract out the db engine testing...
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_40_filters.py
Labels: testing

Document how to test locally.
  docs/contributing.md
Labels: documentation

Enable SQLite as a testing option. (#144)
  docs/configuration.md
  docs/contributing.md
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/migrations/0001_initial.py
  hubuumsite/settings.py
  tox.ini
Labels: documentation, migrations, settings, testing

Deployed 635ce71 with MkDocs version: 1.4.3
  configuration/index.html
  contributing/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-d71f09b3.html
Labels: none

Sigh, minor documentation fix.
  docs/contributing.md
Labels: documentation

Deployed 2adef68 with MkDocs version: 1.4.3
  contributing/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-8ca77d88.html
Labels: none

Very slow builds defaults to escalation to error. :(
  hubuum/api/v1/tests/test_42_logging.py
Labels: testing

Deployed 2a78f75 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-b5a10ceb.html
Labels: none

Check usage of pragmas, mock where possible.
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/middleware/logging_http.py
Labels: testing

Check usage of pragmas, mock where possible.
  docs/configuration.md
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/middleware/logging_http.py
  hubuum/tests/test_01_configuration_management.py
  hubuum/tests/test_02_direct_user_and_groups.py
  hubuumsite/config/__init__.py
  hubuumsite/config/abstract.py
  hubuumsite/config/base.py
  hubuumsite/config/database.py
  hubuumsite/config/logging.py
  hubuumsite/config/request.py
  hubuumsite/config/sentry.py
  hubuumsite/settings.py
  setup.cfg
  tox.ini
Labels: documentation, settings, testing

Check usage of pragmas, mock where possible. (#150)
  docs/configuration.md
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/middleware/logging_http.py
  hubuum/tests/test_01_configuration_management.py
  hubuum/tests/test_02_direct_user_and_groups.py
  hubuumsite/config/__init__.py
  hubuumsite/config/abstract.py
  hubuumsite/config/base.py
  hubuumsite/config/database.py
  hubuumsite/config/logging.py
  hubuumsite/config/request.py
  hubuumsite/config/sentry.py
  hubuumsite/settings.py
  setup.cfg
  tox.ini
Labels: documentation, settings, testing

fix(config): Don't force the db password to be set
  hubuum/tests/test_01_configuration_management.py
  hubuumsite/config/database.py
Labels: testing

fix(config): Don't force the db password to be set (#155)
  hubuum/tests/test_01_configuration_management.py
  hubuumsite/config/database.py
Labels: testing

Deployed d5e2489 with MkDocs version: 1.4.3
  404.html
  about/index.html
  api/index.html
  assets/javascripts/bundle.b4d07000.min.js
  assets/javascripts/bundle.b4d07000.min.js.map
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-3d77921b.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

fix(testing): Ensure testing leaves nothing behind
  hubuum/api/v1/tests/test_31_attachments.py
Labels: testing

fix(testing): Ensure testing leaves nothing behind (#157)
  hubuum/api/v1/tests/test_31_attachments.py
Labels: testing
