Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

.github/labeler.yml:

documentation:
  - "docs/*"

migrations:
  - "hubuum/migrations/*"

models:
  - "hubuum/models/*"

settings:
  - "hubuumsite/settings.py"

dependencies:
  - "requirements*"

testing:
  - "hubuum/tests/*"
  - "hubuum/api/*/tests/*"
  - "tox.ini"

github_actions:
  - ".github/workflows/*"

Fix comments and linting.
  hubuum/api/v1/views/dynamic.py
Labels: none

Try using poetry run for tests on GitHub
  tox.ini
Labels: testing

Fix broken toml rebase. :(
  poetry.lock
Labels: none

Trying different configurations to make tox+poetry happy.
  tox.ini
Labels: testing

Remove now-pointless pass statement.
  hubuum/api/v1/views/dynamic.py
Labels: none

Type fixing.
  hubuum/api/v1/tests/test_50_dynamic.py
Labels: testing

Force install only dev dependecies with poetry.
  docs/hubuum-api-v1.json
  pyproject.toml
  tox.ini
Labels: documentation, testing

Add "testing" of autoschema for dynamic views.
  hubuum/api/v1/tests/test_50_dynamic.py
Labels: testing

Test code paths specific to generateschema.
  hubuum/api/v1/tests/test_50_dynamic.py
Labels: testing

Fix schema generation.
  docs/hubuum-api-v1.json
  hubuum/api/v1/endpoints/dynamic.py
  hubuum/api/v1/tests/test_50_dynamic.py
  hubuum/api/v1/views/dynamic.py
Labels: documentation, testing

Linting and cleanup.
  hubuum/signals.py
  hubuum/tests/test_00_internals.py
Labels: testing

Fix poetry post rebase.
  poetry.lock
Labels: none

Minor code cleanup.
  hubuum/api/v1/views/dynamic.py
  hubuum/signals.py
Labels: none

Support for linking between dynamic classes and objects.
  hubuum/api/v1/endpoints/dynamic.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_50_dynamic.py
  hubuum/api/v1/views/dynamic.py
  hubuum/middleware/logging_http.py
  hubuum/migrations/0001_initial.py
  hubuum/models/dynamic.py
  hubuumsite/settings.py
Labels: migrations, models, settings, testing

Refactoring, generateschema fixes.
  docs/hubuum-api-v1.json
  hubuum/api/v1/views/dynamic.py
  poetry.lock
Labels: documentation

Linting fixes.
  hubuum/api/v1/views/dynamic.py
Labels: none

Refactoring and cleanup.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_50_dynamic.py
  hubuum/api/v1/views/dynamic.py
Labels: testing

Markdown linting.
  docs/about.md
  docs/api.md
  docs/code-style.md
  docs/configuration.md
  docs/contributing.md
  docs/examples.md
  docs/index.md
  docs/installation.md
  docs/logging.md
  docs/permissions.md
  docs/terminology.md
  docs/unit-tests.md
  docs/what_is_hubuum.md
Labels: documentation

Bidirectionality and multipathing for transitive searches.
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/test_50_dynamic.py
  hubuum/api/v1/views/dynamic.py
  hubuum/models/dynamic.py
Labels: models, testing

Linting fixes.
  hubuum/api/v1/tests/test_50_dynamic.py
  hubuum/models/dynamic.py
Labels: models, testing

Minor test refactoring.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_50_dynamic.py
  hubuum/api/v1/tests/test_50_dynamic_core.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
Labels: testing

Remoe strict=True from zip usage.
  hubuum/api/v1/tests/base.py
  pyproject.toml
Labels: testing

Check that loops are handled.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/views/dynamic.py
  hubuum/log.py
  hubuum/models/dynamic.py
Labels: models, testing

Refactoring tests to use the new API.
  hubuum/api/v1/tests/test_51_dynamic_links.py
Labels: testing

feat(models): "Dynamic" models/classes/object types. (#190)
  docs/about.md
  docs/api.md
  docs/code-style.md
  docs/configuration.md
  docs/contributing.md
  docs/examples.md
  docs/hubuum-api-v1.json
  docs/index.md
  docs/installation.md
  docs/logging.md
  docs/permissions.md
  docs/terminology.md
  docs/unit-tests.md
  docs/what_is_hubuum.md
  hubuum/api/v1/endpoints/dynamic.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_50_dynamic_core.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/dynamic.py
  hubuum/filters.py
  hubuum/log.py
  hubuum/middleware/logging_http.py
  hubuum/migrations/0001_initial.py
  hubuum/models/core.py
  hubuum/models/dynamic.py
  hubuum/signals.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_30_direct_dynamic.py
  hubuumsite/settings.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: documentation, migrations, models, settings, testing

Deployed e07ed44 with MkDocs version: 1.4.3
  about/index.html
  api/index.html
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  hubuum-api-v1.json
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a1426302.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed 9ad9c51 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-64ed3902.html
Labels: none

Deployed 1a4f1c6 with MkDocs version: 1.5.2
  404.html
  about/index.html
  api/index.html
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-b52694be.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed e7fa85e with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-0db3e31f.html
Labels: none

Deployed 6dca690 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-4c1c279a.html
Labels: none

Deployed 613c8ab with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-802816e1.html
Labels: none

Deployed d691d3a with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-cd8440b7.html
Labels: none

Deployed 6aba514 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-f69b4fcf.html
Labels: none

Deployed cfd3c5e with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-842cc7ee.html
Labels: none

Deployed 7084937 with MkDocs version: 1.5.2
  assets/javascripts/swagger-ui-bundle.js
  assets/javascripts/swagger-ui-bundle.js.map
  assets/javascripts/swagger-ui-standalone-preset.js
  assets/javascripts/swagger-ui-standalone-preset.js.map
  assets/stylesheets/swagger-ui.css
  assets/stylesheets/swagger-ui.css.map
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a1687f0d.html
Labels: none

Deployed c57cdf9 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-161453b5.html
Labels: none

Deployed af25bc1 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-ac4a4b9a.html
Labels: none

Deployed 4cc15be with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-13dd99db.html
Labels: none

Deployed 22cf265 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a75aabaf.html
Labels: none

Deployed 0fc4a19 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-7bb48589.html
Labels: none
