Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

Deployed f87554b with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a6617592.html
Labels: none

feat(typing): More typing work
  hubuum/api/v1/views/attachment.py
Labels: none

style(views): Avoid pointless f-string usage
  hubuum/api/v1/views/attachment.py
Labels: none

fix(typing): Wrap getting requests with types
  hubuum/api/v1/views/attachment.py
  hubuum/typing.py
Labels: none

style(typing): Imperative mode for docstring
  hubuum/typing.py
Labels: none

Deployed 3504bc8 with MkDocs version: 1.4.3
  model/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-bcdc3438.html
Labels: none

Deployed 2f92665 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-d925840d.html
Labels: none

Type coverage for even minor issues.
  hubuum/api/urls.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/extension.py
  hubuum/api/v1/views/iam.py
  hubuum/models/auth.py
  hubuum/models/core.py
  hubuum/models/permissions.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tools.py
  hubuumsite/config/abstract.py
  hubuumsite/config/base.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
  hubuumsite/urls.py
Labels: models, settings

Refactor to avoid circular dependcies.
  docs/hubuum-api-v1.json
  docs/model.md
  hubuum/admin.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_30_extensions.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/tests/test_41_pagination.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/iam.py
  hubuum/filters.py
  hubuum/models/__init__.py
  hubuum/models/iam.py
  hubuum/models/permissions.py
  hubuum/models/resources.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_02_direct_user_and_groups.py
  hubuum/tests/test_05_internal_models.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/typing.py
  tox.ini
Labels: documentation, models, testing

Deployed 2fbf232 with MkDocs version: 1.4.3
  assets/_mkdocstrings.css
  model/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-d7958965.html
Labels: none

Deployed 14f9de6 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-32646d17.html
Labels: none

Deployed 020a1a1 with MkDocs version: 1.4.3
  404.html
  about/index.html
  api/index.html
  assets/stylesheets/main.26e3688c.min.css
  assets/stylesheets/main.26e3688c.min.css.map
  assets/stylesheets/main.85bb2934.min.css
  assets/stylesheets/main.85bb2934.min.css.map
  assets/stylesheets/palette.a6bdf11c.min.css
  assets/stylesheets/palette.a6bdf11c.min.css.map
  assets/stylesheets/palette.ecc896b0.min.css
  assets/stylesheets/palette.ecc896b0.min.css.map
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-e1fc14d9.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

feat(typing): More typing work (#158)
  docs/hubuum-api-v1.json
  docs/model.md
  hubuum/admin.py
  hubuum/api/urls.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_30_extensions.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/tests/test_41_pagination.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/extension.py
  hubuum/api/v1/views/iam.py
  hubuum/filters.py
  hubuum/models/__init__.py
  hubuum/models/core.py
  hubuum/models/iam.py
  hubuum/models/permissions.py
  hubuum/models/resources.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_02_direct_user_and_groups.py
  hubuum/tests/test_05_internal_models.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/tools.py
  hubuum/typing.py
  hubuumsite/config/abstract.py
  hubuumsite/config/base.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
  hubuumsite/urls.py
  tox.ini
Labels: documentation, models, settings, testing

Validate fields and their lookups during filtering.
  docs/hubuum-api-v1.json
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/filters.py
Labels: documentation, testing

fix(filter): Python 3.7 typing support.
  hubuum/filters.py
Labels: none

Deployed 8ab8b4e with MkDocs version: 1.4.3
  hubuum-api-v1.json
  model/index.html
  objects.inv
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-074379e3.html
Labels: none

feat(api): Add regex support for text fields
  docs/api.md
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/filters.py
Labels: documentation, testing

fix(tests): Use raw strings for regex tests
  hubuum/api/v1/tests/test_40_filters.py
Labels: testing

docs(api): Update note about bad filters
  docs/api.md
Labels: documentation

docs(models): Update docstrings to make griffe happy.
  hubuum/models/iam.py
Labels: models

fix(filters): Throw 400 bad request on bad filters (#166)
  docs/api.md
  docs/hubuum-api-v1.json
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/filters.py
  hubuum/models/iam.py
Labels: documentation, models, testing

Deployed fb5feee with MkDocs version: 1.4.3
  api/index.html
  hubuum-api-v1.json
  model/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-ab7651f3.html
Labels: none

fix(build): Update github actions for poetry and ruff
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/tox.yml
  README.md
Labels: github_actions

fix(actions): Install poetry along with tox
  .github/workflows/tox.yml
Labels: github_actions

fix(actions): Use poetry to run django jobs
  .github/workflows/tox.yml
Labels: github_actions

fix(actions): Install dependencies directly via poetry
  .github/workflows/tox.yml
Labels: github_actions

fix(actions): Use the poetry environment...
  .github/workflows/tox.yml
Labels: github_actions

fix(dependencies): Add coverage
  pyproject.toml
Labels: none

fix(poetry): Update lock file
  poetry.lock
Labels: none

fix(actions): Add toml support to coverage
  poetry.lock
  pyproject.toml
Labels: none

fix(actions): Add toml support to coveralls
  .github/workflows/tox.yml
Labels: github_actions

fix(actions): Explicit toml support for coveralls
  .github/workflows/tox.yml
Labels: github_actions

fix(actions): Get correct version of coveralls
  .github/workflows/tox.yml
Labels: github_actions

fix(actions): More fun with coverall(s)
  .github/workflows/tox.yml
Labels: github_actions

fix(actions): Update document deployment to poetry
  .github/workflows/deploy-documentation.yml
Labels: github_actions

fix(actions): Update document deployment to poetry (#173)
  .github/workflows/deploy-documentation.yml
Labels: github_actions

fix(actions): Correctly build docs within poetry
  .github/workflows/deploy-documentation.yml
Labels: github_actions

Deployed f52997d with MkDocs version: 1.4.3
  hubuum-api-v1.json
  model/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a595b392.html
Labels: none

Deployed e5d9578 with MkDocs version: 1.4.3
  assets/javascripts/swagger-ui-bundle.js
  assets/javascripts/swagger-ui-bundle.js.map
  assets/javascripts/swagger-ui-standalone-preset.js
  assets/javascripts/swagger-ui-standalone-preset.js.map
  assets/stylesheets/swagger-ui.css
  assets/stylesheets/swagger-ui.css.map
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-29589a94.html
Labels: none

Deployed 7a3690a with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-089fbb5a.html
Labels: none

.github/labeler.yml:

documentation:
  - "docs/*"

migrations:
  - "hubuum/migrations/*"

models:
  - "hubuum/models/*"

settings:
  - "hubuumsite/settings.py"

dependencies:
  - "requirements*"

testing:
  - "hubuum/tests/*"
  - "hubuum/api/*/tests/*"
  - "tox.ini"

github_actions:
  - ".github/workflows/*"
