Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: "docs/**"

migrations:
- changed-files:
  - any-glob-to-any-file: "hubuum/migrations/*"

models:
- changed-files:
  - any-glob-to-any-file: "hubuum/models/*"

settings:
- changed-files:
  - any-glob-to-any-file: "hubuumsite/settings.py"

dependencies:
- changed-files:
  - any-glob-to-any-file: "poetry.lock"

testing:
- changed-files:
  - any-glob-to-any-file: "hubuum/tests/*"
  - any-glob-to-any-file: "hubuum/api/*/tests/*"
  - any-glob-to-any-file: "tox.ini"

github_actions:
- changed-files:
  - any-glob-to-any-file: ".github/workflows/*"

Deployed e7f2c8e with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-1ae6726d.html
Labels: none

Update badge URL for Codacy quality.
  README.md
Labels: none

Deployed 80c4f74 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-6ae20c35.html
Labels: none

chore: Set correct user for ghcr post-move.
  .github/workflows/docker.yml
Labels: github_actions

Deployed 4afbe7e with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-22840bfb.html
Labels: none

Deployed f03f03c with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-85e9a76f.html
Labels: none

Deployed a7e1aa7 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-20ba3f3c.html
Labels: none

Deployed cb2cb7e with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-3c45e8ec.html
Labels: none

Adher to stricter method ordering in Django with newer ruff.
  hubuum/models/core.py
  poetry.lock
Labels: models, dependencies

Install poetry via pipx. Lock to 1.7.0.
  .github/workflows/tox.yml
Labels: github_actions

Bind poetry to stable major.minor, not patch.
  .github/workflows/tox.yml
Labels: github_actions

Adher to stricter method ordering in Django with newer ruff. (#294)
  .github/workflows/tox.yml
  hubuum/models/core.py
  poetry.lock
Labels: models, dependencies, github_actions

Deployed afc94a7 with MkDocs version: 1.5.3
  model/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-36a18174.html
Labels: none

Deployed 939ef6d with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-f14e56fc.html
Labels: none

Deployed 2fee84e with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-4f0a0e7f.html
Labels: none

Update dependencies, add django 5.
  hubuum/admin.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/test_11_namespaces.py
  hubuum/api/v1/tests/test_15_cascade.py
  hubuum/api/v1/tests/test_41_pagination.py
  hubuum/api/v1/views/dynamic.py
  hubuum/api/v1/views/iam.py
  hubuum/filters.py
  hubuum/middleware/logging_http.py
  hubuum/models/__init__.py
  hubuum/models/iam.py
  hubuum/permissions.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_02_direct_user_and_groups.py
  hubuum/tests/test_05_internal_models.py
  hubuum/tests/test_18_direct_attachment.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/tools.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: models, dependencies, testing

Further updates.
  .github/workflows/lint.yml
  .github/workflows/tox.yml
  poetry.lock
  tox.ini
Labels: dependencies, testing, github_actions

Generalize dependencies better.
  poetry.lock
  pyproject.toml
Labels: dependencies

Add inflection due to openapi requirement.
  poetry.lock
  pyproject.toml
Labels: dependencies

Update sentry-sdk.
  poetry.lock
  pyproject.toml
Labels: dependencies

Update dependencies, add django 5. (#322)
  .github/workflows/lint.yml
  .github/workflows/tox.yml
  hubuum/admin.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/test_11_namespaces.py
  hubuum/api/v1/tests/test_15_cascade.py
  hubuum/api/v1/tests/test_41_pagination.py
  hubuum/api/v1/views/dynamic.py
  hubuum/api/v1/views/iam.py
  hubuum/filters.py
  hubuum/middleware/logging_http.py
  hubuum/models/__init__.py
  hubuum/models/iam.py
  hubuum/permissions.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_02_direct_user_and_groups.py
  hubuum/tests/test_05_internal_models.py
  hubuum/tests/test_18_direct_attachment.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/tools.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: models, dependencies, testing, github_actions

Deployed 18b57fd with MkDocs version: 1.5.3
  hubuum-api-v1.json
  model/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-dcb7dfb0.html
Labels: none

Deployed 10e2206 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-e8304909.html
Labels: none

Deployed 313cf2c with MkDocs version: 1.5.3
  assets/javascripts/swagger-ui-bundle.js
  assets/javascripts/swagger-ui-bundle.js.map
  assets/javascripts/swagger-ui-standalone-preset.js
  assets/javascripts/swagger-ui-standalone-preset.js.map
  assets/stylesheets/swagger-ui-dark.css
  assets/stylesheets/swagger-ui.css
  assets/stylesheets/swagger-ui.css.map
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-26e46eb9.html
Labels: none

Deployed d94af64 with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: none

Deployed 8bbfbd6 with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: none

Deployed 65c68f9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: none

Deployed 24803b3 with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: none

Deployed f5b1dd7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: none

Deployed a3cb5dc with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: none

Update README.md
  README.md
Labels: none
