Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

Deployed 379c838 with MkDocs version: 1.5.3
  assets/javascripts/swagger-ui-bundle.js
  assets/javascripts/swagger-ui-bundle.js.map
  assets/stylesheets/swagger-ui.css
  assets/stylesheets/swagger-ui.css.map
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-0ca821a4.html
Labels: none

chore: Dependency updates.
  poetry.lock
  pyproject.toml
Labels: none

chore: Dependency updates. (#273)
  poetry.lock
  pyproject.toml
Labels: none

Deployed e5bce02 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-e15f102e.html
Labels: none

Move to using ruff as both formatter and linter.
  poetry.lock
  pyproject.toml
  tox.ini
Labels: testing

Apply hard ruff formatting.
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_10_create_users_groups_and_namespaces.py
  hubuum/api/v1/tests/test_11_namespaces.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/tests/test_60_meta.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/dynamic.py
  hubuum/api/v1/views/iam.py
  hubuum/filters.py
  hubuum/log.py
  hubuum/models/core.py
  hubuum/models/iam.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tests/base.py
  hubuum/tests/helpers/populators.py
  hubuum/tests/test_01_configuration_management.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/tests/test_30_direct_dynamic.py
  hubuumsite/config/abstract.py
  hubuumsite/config/base.py
  hubuumsite/config/logging.py
  pyproject.toml
Labels: models, testing

Document ruff usage.
  docs/code-style.md
Labels: documentation

Use ruff for formatting (#274)
  docs/code-style.md
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_10_create_users_groups_and_namespaces.py
  hubuum/api/v1/tests/test_11_namespaces.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/tests/test_60_meta.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/dynamic.py
  hubuum/api/v1/views/iam.py
  hubuum/filters.py
  hubuum/log.py
  hubuum/models/core.py
  hubuum/models/iam.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tests/base.py
  hubuum/tests/helpers/populators.py
  hubuum/tests/test_01_configuration_management.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/tests/test_30_direct_dynamic.py
  hubuumsite/config/abstract.py
  hubuumsite/config/base.py
  hubuumsite/config/logging.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: documentation, models, testing

Deployed 719b92b with MkDocs version: 1.5.3
  code-style/index.html
  model/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-beaee0c7.html
Labels: none

Deployed ecff12f with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-9a5cf454.html
Labels: none

Deployed 3a2e45c with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-7bd538ba.html
Labels: none

Deployed 6578d6b with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a64387a9.html
Labels: none

Migrate to hubuum org for ghcr.
  .github/workflows/docker.yml
Labels: github_actions

.github/labeler.yml:

documentation:
  - "docs/*"

migrations:
  - "hubuum/migrations/*"

models:
  - "hubuum/models/*"

settings:
  - "hubuumsite/settings.py"

dependencies:
  - "requirements*"

testing:
  - "hubuum/tests/*"
  - "hubuum/api/*/tests/*"
  - "tox.ini"

github_actions:
  - ".github/workflows/*"
