Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

Restructure objects and classes from populators.
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
Labels: none

Implement meta endpoints.
  docs/hubuum-api-v1.json
  hubuum/__init__.py
  hubuum/api/v1/endpoints/meta.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/tests/test_60_meta.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/meta.py
  hubuum/apps.py
  hubuum/tests/test_30_direct_dynamic.py
Labels: documentation, testing

test(all): Add 3.12 to the test suite on github
  .github/workflows/tox.yml
Labels: github_actions

test(all): Add 3.12 to the test suite on github (#254)
  .github/workflows/tox.yml
Labels: github_actions

Deployed 1340d3a with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-5e24a572.html
Labels: none

Deployed 0d0df11 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-f5481476.html
Labels: none

Deployed 9866ccb with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-f65678fd.html
Labels: none

Deployed 2bce1b3 with MkDocs version: 1.5.3
  assets/javascripts/swagger-ui-bundle.js
  assets/javascripts/swagger-ui-bundle.js.map
  assets/stylesheets/swagger-ui-dark.css
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-4846a653.html
Labels: none

Deployed c0191a9 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-d942f29b.html
Labels: none

Deployed d0b32d2 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-aed19c80.html
Labels: none

Set shell=False for Popen.
  hubuum/__init__.py
Labels: none

We sadly need the shell to find the command
  hubuum/__init__.py
Labels: none

Pragma added
  hubuum/__init__.py
Labels: none

feat(api): Add .meta endpoints
  docs/hubuum-api-v1.json
  hubuum/__init__.py
  hubuum/api/v1/endpoints/meta.py
  hubuum/api/v1/tests/test_60_meta.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/meta.py
  hubuum/apps.py
  tox.ini
Labels: documentation, testing

Add script to prepare for release.
  hubuum/__init__.py
  hubuum/api/v1/views/iam.py
  hubuum/log.py
  hubuumsite/config/base.py
  poetry.lock
  prepare_release.py
Labels: none

Linting fixes.
  prepare_release.py
Labels: none

Stripping the tags/ prefix we get from git describe.
  hubuum/__init__.py
  prepare_release.py
  pyproject.toml
Labels: none

Remove emojies (for now)
  .github/workflows/publish-to-pypi.yml
Labels: github_actions

Script work, add changelog, add pypi workflow.
  .github/workflows/publish-to-pypi.yml
  Changelog.md
  prepare_release.py
Labels: github_actions

Edit toml file without using toml package.
  poetry.lock
  prepare_release.py
  pyproject.toml
Labels: none

Make debug and runtimes superuser only.
  hubuum/api/v1/tests/test_60_meta.py
  hubuum/api/v1/views/meta.py
  hubuum/permissions.py
Labels: testing

Add Changelog support.
  Changelog.md
  prepare_release.py
Labels: none

Minor typing fixes.
  hubuum/models/iam.py
  hubuum/tests/base.py
Labels: models, testing

Dependecy updates.
  poetry.lock
Labels: none

feat(versions): Add .meta endpoints, streamline release process (#251)
  .github/workflows/publish-to-pypi.yml
  Changelog.md
  docs/hubuum-api-v1.json
  hubuum/__init__.py
  hubuum/api/v1/endpoints/meta.py
  hubuum/api/v1/tests/test_60_meta.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/iam.py
  hubuum/api/v1/views/meta.py
  hubuum/apps.py
  hubuum/log.py
  hubuum/models/iam.py
  hubuum/permissions.py
  hubuum/tests/base.py
  hubuumsite/config/base.py
  poetry.lock
  prepare_release.py
  pyproject.toml
  tox.ini
Labels: documentation, models, testing, github_actions

Deployed c66f793 with MkDocs version: 1.5.3
  hubuum-api-v1.json
  model/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-7f1dceed.html
Labels: none

fix(models): Remove static models.
  hubuum/models/dynamic.py
  hubuum/tests/test_20_direct_permissions.py
Labels: models, testing

Remove extensions.
  docs/about.md
  docs/code-style.md
  docs/examples.md
  docs/extensions.md
  hubuum/admin.py
  hubuum/api/v1/endpoints/extensions.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/test_30_extensions.py
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/extension.py
  hubuum/filters.py
  hubuum/migrations/0001_initial.py
  hubuum/models/core.py
  hubuum/models/iam.py
  hubuum/models/resources.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_05_internal_models.py
  hubuum/tests/test_10_direct_host_model.py
  hubuum/tests/test_11_direct_hosttype_model.py
  hubuum/tests/test_12_direct_room_model.py
  hubuum/tests/test_13_direct_jack_model.py
  hubuum/tests/test_14_direct_vendor_model.py
  hubuum/tests/test_15_direct_purchaseorder_model.py
  hubuum/tests/test_17_direct_person_model.py
  hubuum/validators.py
  mkdocs.yml
Labels: documentation, migrations, models, testing

Make host tests dynamic.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/views/dynamic.py
  hubuum/permissions.py
Labels: testing

Fix permissions and logging syntax in API views and tests
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/views/base.py
  hubuum/permissions.py
Labels: testing

Fix host and log tests, fix response.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/attachment.py
Labels: testing

Attachments now work for dynamic classes.
  docs/hubuum-api-v1.json
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_50_dynamic_core.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/dynamic.py
  hubuum/filters.py
  hubuum/migrations/0001_initial.py
  hubuum/models/core.py
  hubuum/models/dynamic.py
  hubuum/signals.py
  hubuum/tests/base.py
  hubuum/tests/helpers/populators.py
  hubuum/tests/helpers/test_01_populators.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_18_direct_attachment.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/tests/test_30_direct_dynamic.py
  hubuum/tools.py
  hubuum/validators.py
Labels: documentation, migrations, models, testing

Adapt filtering to dynamic classes.
  docs/examples.md
  hubuum/api/v1/tests/test_40_filters.py
  hubuum/filters.py
  hubuum/tests/helpers/populators.py
Labels: documentation, testing

Refactor attachment manager model and views
  hubuum/api/v1/endpoints/attachments.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/filters.py
  hubuum/migrations/0001_initial.py
  hubuum/models/core.py
  hubuum/tests/test_18_direct_attachment.py
Labels: migrations, models, testing

Remove the models for "resources".
  hubuum/admin.py
  hubuum/api/v1/endpoints/resources.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/test_01_auth.py
  hubuum/api/v1/tests/test_15_cascade.py
  hubuum/api/v1/tests/test_41_pagination.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/resources.py
  hubuum/filters.py
  hubuum/models/iam.py
  hubuum/models/resources.py
  hubuum/tests/base.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/tools.py
  hubuum/validators.py
Labels: models, testing

Test and code cleanup.
  docs/hubuum-api-v1.json
  docs/model.md
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/test_31_attachments.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/base.py
  hubuum/apps.py
  hubuum/models/core.py
  hubuum/models/iam.py
  hubuum/tests/base.py
  hubuum/tests/test_18_direct_attachment.py
  hubuum/tests/test_20_direct_permissions.py
  hubuum/validators.py
  poetry.lock
Labels: documentation, models, testing

Reset migrations.
  hubuum/migrations/0001_initial.py
Labels: migrations

Documentation updates.
  docs/api.md
  docs/authentication.md
  docs/code-style.md
  docs/examples.md
  docs/logging.md
  docs/permissions.md
  docs/terminology.md
  docs/what_is_hubuum.md
  mkdocs.yml
Labels: documentation

Remove leftover cruft.
  hubuum/models/core.py
Labels: models

Deployed a248161 with MkDocs version: 1.5.3
  404.html
  about/index.html
  api/index.html
  authentication/index.html
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  hubuum-api-v1.json
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  objects.inv
  permissions/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-4575819a.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

.github/labeler.yml:

documentation:
  - "docs/*"

migrations:
  - "hubuum/migrations/*"

models:
  - "hubuum/models/*"

settings:
  - "hubuumsite/settings.py"

dependencies:
  - "requirements*"

testing:
  - "hubuum/tests/*"
  - "hubuum/api/*/tests/*"
  - "tox.ini"

github_actions:
  - ".github/workflows/*"
