Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

Deployed d53a6ab with MkDocs version: 1.4.3
  404.html
  about/index.html
  api/index.html
  assets/javascripts/bundle.a51614de.min.js
  assets/javascripts/bundle.a51614de.min.js.map
  assets/javascripts/bundle.b4d07000.min.js
  assets/javascripts/bundle.b4d07000.min.js.map
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-48f70966.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed c017917 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-c3531d2d.html
Labels: none

Deployed 7f77301 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-7966459a.html
Labels: none

Deployed 37af471 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-5298d809.html
Labels: none

Deployed fc230c2 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-67138385.html
Labels: none

Deployed 6c6ff5d with MkDocs version: 1.4.3
  404.html
  about/index.html
  api/index.html
  assets/javascripts/bundle.a51614de.min.js
  assets/javascripts/bundle.a51614de.min.js.map
  assets/javascripts/bundle.b425cdc4.min.js
  assets/javascripts/bundle.b425cdc4.min.js.map
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-13d5eaa2.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed 2202519 with MkDocs version: 1.4.3
  404.html
  about/index.html
  api/index.html
  assets/javascripts/bundle.220ee61c.min.js
  assets/javascripts/bundle.220ee61c.min.js.map
  assets/javascripts/bundle.b425cdc4.min.js
  assets/javascripts/bundle.b425cdc4.min.js.map
  assets/javascripts/workers/search.74e28a9f.min.js
  assets/javascripts/workers/search.74e28a9f.min.js.map
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-dcbedf70.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed 1affc9d with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-9fa15cdd.html
Labels: none

Deployed 30f04d7 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-2c527471.html
Labels: none

Deployed b813788 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a3b58692.html
Labels: none

Deployed a3ec67a with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-02c2c5bf.html
Labels: none

Deployed cb05016 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-67a23fdb.html
Labels: none

Deployed f480576 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-75cb2ee0.html
Labels: none

fix(docs): Fix typo and REQUEST naming for logging.
  docs/configuration.md
Labels: documentation

Also correct MIGRATION.
  docs/configuration.md
Labels: documentation

Deployed e4d0c9c with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-95409636.html
Labels: none

fix(docs): Fix typos, REQUEST, and MIGRATION logging docs. (#193)
  docs/configuration.md
Labels: documentation

Deployed c62ee2c with MkDocs version: 1.4.3
  configuration/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-36b9f733.html
Labels: none

Deployed e65e55e with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-f5729970.html
Labels: none

feat(logging): Requests and contextual request IDs.
  docs/configuration.md
  docs/logging.md
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/base.py
  hubuum/middleware/context.py
  hubuum/middleware/logging_http.py
  hubuum/signals.py
  hubuum/tests/test_01_configuration_management.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
Labels: documentation, settings, testing

Linting and user fixing.
  hubuum/middleware/context.py
  hubuum/middleware/logging_http.py
Labels: none

Fix broken docker builds.
  poetry.lock
  pyproject.toml
Labels: none

feat(logging): Request logging and contextual request IDs. (#194)
  docs/configuration.md
  docs/logging.md
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/base.py
  hubuum/middleware/context.py
  hubuum/middleware/logging_http.py
  hubuum/signals.py
  hubuum/tests/test_01_configuration_management.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
  poetry.lock
  pyproject.toml
Labels: documentation, settings, testing

Deployed 03e68b4 with MkDocs version: 1.4.3
  configuration/index.html
  logging/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-078a7d39.html
Labels: none

Refactoring and request body logging.
  docs/configuration.md
  docs/logging.md
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/base.py
  hubuum/log.py
  hubuum/middleware/logging_http.py
  hubuum/signals.py
  hubuum/tests/test_01_configuration_management.py
  hubuumsite/config/abstract.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
Labels: documentation, settings, testing

Allow control over collapsing of request ID
  docs/configuration.md
  docs/logging.md
  hubuum/tests/test_01_configuration_management.py
  hubuumsite/config/logging.py
Labels: documentation, testing

Linting fix.
  hubuum/tests/test_01_configuration_management.py
Labels: testing

Add some more logging.
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/base.py
  hubuum/api/views.py
  hubuum/permissions.py
  hubuumsite/settings.py
Labels: settings, testing

Test RequestColorTracker.
  hubuum/tests/test_00_internals.py
Labels: testing

Linting fix.
  hubuum/tests/test_00_internals.py
Labels: testing

feat(logging): Refactoring and request body logging. (#195)
  docs/configuration.md
  docs/logging.md
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/base.py
  hubuum/api/views.py
  hubuum/log.py
  hubuum/middleware/logging_http.py
  hubuum/permissions.py
  hubuum/signals.py
  hubuum/tests/test_00_internals.py
  hubuum/tests/test_01_configuration_management.py
  hubuumsite/config/abstract.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
Labels: documentation, settings, testing

Deployed c5a54b9 with MkDocs version: 1.4.3
  configuration/index.html
  hubuum-api-v1.json
  logging/index.html
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-fd95a638.html
Labels: none

Deployed 9a74bc1 with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-b7a70bf2.html
Labels: none

Deployed c419dae with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-0364e4cb.html
Labels: none

Deployed 39a3250 with MkDocs version: 1.4.3
  404.html
  about/index.html
  api/index.html
  assets/stylesheets/main.26e3688c.min.css
  assets/stylesheets/main.26e3688c.min.css.map
  assets/stylesheets/main.eebd395e.min.css
  assets/stylesheets/main.eebd395e.min.css.map
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-eda52651.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed 227018d with MkDocs version: 1.4.3
  assets/javascripts/swagger-ui-bundle.js
  assets/javascripts/swagger-ui-bundle.js.map
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-fd818a8c.html
Labels: none

Migrate to structlogs contextvars.
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/log.py
  hubuum/middleware/context.py
  hubuum/middleware/logging_http.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
Labels: settings, testing

Migrate to structlogs contextvars. (#200)
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/log.py
  hubuum/middleware/context.py
  hubuum/middleware/logging_http.py
  hubuumsite/config/logging.py
  hubuumsite/settings.py
Labels: settings, testing

Deployed ae915da with MkDocs version: 1.4.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-c32b8496.html
Labels: none

"Dynamic" models/classes/object types.
  docs/hubuum-api-v1.json
  hubuum/api/v1/endpoints/dynamic.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_20_hosts.py
  hubuum/api/v1/tests/test_50_dynamic.py
  hubuum/api/v1/urls.py
  hubuum/api/v1/views/attachment.py
  hubuum/api/v1/views/dynamic.py
  hubuum/filters.py
  hubuum/migrations/0001_initial.py
  hubuum/models/core.py
  hubuum/models/dynamic.py
  hubuum/signals.py
  hubuum/tests/test_30_direct_dynamic.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: documentation, migrations, models, testing

.github/labeler.yml:

documentation:
  - "docs/*"

migrations:
  - "hubuum/migrations/*"

models:
  - "hubuum/models/*"

settings:
  - "hubuumsite/settings.py"

dependencies:
  - "requirements*"

testing:
  - "hubuum/tests/*"
  - "hubuum/api/*/tests/*"
  - "tox.ini"

github_actions:
  - ".github/workflows/*"
