Repository hubuum/hubuum-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, migrations, models, settings, dependencies, testing, github_actions

Deployed 0279ca7 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-61258466.html
Labels: none

Deployed 4cbdf6f with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-39418ff1.html
Labels: none

Deployed 4f29b94 with MkDocs version: 1.5.2
  404.html
  about/index.html
  api/index.html
  assets/javascripts/bundle.220ee61c.min.js
  assets/javascripts/bundle.220ee61c.min.js.map
  assets/javascripts/bundle.dff1b7c8.min.js
  assets/javascripts/bundle.dff1b7c8.min.js.map
  assets/javascripts/lunr/min/lunr.he.min.js
  assets/javascripts/workers/search.74e28a9f.min.js
  assets/javascripts/workers/search.74e28a9f.min.js.map
  assets/javascripts/workers/search.dfff1995.min.js
  assets/javascripts/workers/search.dfff1995.min.js.map
  assets/stylesheets/main.046329b4.min.css
  assets/stylesheets/main.046329b4.min.css.map
  assets/stylesheets/main.eebd395e.min.css
  assets/stylesheets/main.eebd395e.min.css.map
  assets/stylesheets/palette.85d0ee34.min.css
  assets/stylesheets/palette.85d0ee34.min.css.map
  assets/stylesheets/palette.ecc896b0.min.css
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-fd4ff18e.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed f0b1605 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-6a4d5516.html
Labels: none

Deployed 002618d with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-aa84d3f4.html
Labels: none

Test logs from dynamic object creation.
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/signals.py
  hubuum/tests/abstract/logging.py
Labels: testing

More refactoring.
  docs/hubuum-api-v1.json
  hubuum/api/v1/endpoints/dynamic.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/abstract/__init__.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/__init__.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/tests/test_50_dynamic_core.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/views/dynamic.py
  hubuum/filters.py
  hubuum/migrations/0001_initial.py
  hubuum/models/dynamic.py
  hubuum/signals.py
  hubuum/tests/abstract/__init__.py
  hubuum/tests/helpers/__init__.py
  hubuum/tests/test_30_direct_dynamic.py
Labels: documentation, migrations, models, testing

Refactor out log testing.
  hubuum/api/v1/tests/abstract/__init__.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/views/base.py
  hubuum/tests/abstract/__init__.py
  hubuum/tests/abstract/logging.py
  hubuum/tools.py
Labels: testing

Linting fix.
  hubuum/tests/abstract/logging.py
Labels: none

Add support for remaining (logged) events.
  hubuum/api/v1/tests/helpers/logging.py
Labels: none

Segment test code better.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_populators.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
Labels: testing

Test populator mixins.
  docs/hubuum-api-v1.json
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
  hubuum/api/v1/tests/test_50_dynamic_core.py
  hubuum/tests/helpers/populators.py
  hubuum/tests/helpers/test_01_populators.py
  hubuum/tests/test_30_direct_dynamic.py
  poetry.lock
Labels: documentation, testing

Restructure objects and classes from populators.
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
Labels: none

Linting fix.
  hubuum/api/v1/tests/helpers/populators.py
Labels: none

Document test framework. Sort of.
  docs/unit-tests.md
  hubuum/api/v1/tests/helpers/populators.py
Labels: documentation

Deployed 5981816 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-bbea59e5.html
Labels: none

Deployed 01576ad with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-d9845510.html
Labels: none

Deployed 1399770 with MkDocs version: 1.5.2
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-159521d5.html
Labels: none

Deployed 33f2125 with MkDocs version: 1.5.3
  404.html
  about/index.html
  api/index.html
  code-style/index.html
  configuration/index.html
  contributing/index.html
  examples/index.html
  extensions/index.html
  index.html
  installation/index.html
  logging/index.html
  model/index.html
  permissions/index.html
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-cc358a90.html
  terminology/index.html
  unit-tests/index.html
  what_is_hubuum/index.html
Labels: none

Deployed af5367b with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-61e1a8ea.html
Labels: none

Deployed 94658db with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-8dcd73e0.html
Labels: none

Deployed 60eab67 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-4c6e2771.html
Labels: none

Deployed 1f5130d with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-15883dfa.html
Labels: none

Deployed fe8055a with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-e70a69b2.html
Labels: none

Deployed 568b66c with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-0bd80fcb.html
Labels: none

Deployed cebbda1 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-238db06d.html
Labels: none

Deployed f87a2f6 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-f660bf0a.html
Labels: none

Deployed 14923d2 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-a18f8afb.html
Labels: none

Deployed cbfc512 with MkDocs version: 1.5.3
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-35f12217.html
Labels: none

tests(refactoring): Centralize shared test logic. (#201)
  docs/hubuum-api-v1.json
  docs/unit-tests.md
  hubuum/api/v1/endpoints/dynamic.py
  hubuum/api/v1/serializers.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/__init__.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
  hubuum/api/v1/tests/test_00_internals.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/tests/test_50_dynamic_core.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/api/v1/views/base.py
  hubuum/api/v1/views/dynamic.py
  hubuum/filters.py
  hubuum/migrations/0001_initial.py
  hubuum/models/dynamic.py
  hubuum/signals.py
  hubuum/tests/helpers/__init__.py
  hubuum/tests/helpers/populators.py
  hubuum/tests/helpers/test_01_populators.py
  hubuum/tests/test_30_direct_dynamic.py
  hubuum/tools.py
  poetry.lock
Labels: documentation, migrations, models, testing

Deployed 3d19aa0 with MkDocs version: 1.5.3
  hubuum-api-v1.json
  search/search_index.json
  sitemap.xml.gz
  swagger/index.html
  swagger/swagger-5b9f7577.html
  unit-tests/index.html
Labels: none

Refactor out log testing.
  hubuum/api/v1/tests/abstract/__init__.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/tests/abstract/__init__.py
  hubuum/tests/abstract/logging.py
Labels: testing

Linting fix.
  hubuum/tests/abstract/logging.py
Labels: none

Test logs from dynamic object creation.
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/signals.py
  hubuum/tests/abstract/logging.py
Labels: testing

More refactoring.
  docs/hubuum-api-v1.json
  hubuum/api/v1/tests/abstract/__init__.py
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/test_42_logging.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
  hubuum/signals.py
  hubuum/tests/abstract/__init__.py
  hubuum/tests/abstract/logging.py
  hubuum/tests/test_30_direct_dynamic.py
Labels: documentation, testing

Add support for remaining (logged) events.
  hubuum/api/v1/tests/helpers/logging.py
Labels: none

Segment test code better.
  hubuum/api/v1/tests/base.py
  hubuum/api/v1/tests/helpers/logging.py
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_populators.py
  hubuum/api/v1/tests/test_51_dynamic_links.py
Labels: testing

Document test framework. Sort of.
  hubuum/api/v1/tests/helpers/populators.py
Labels: none

Test populator mixins.
  docs/hubuum-api-v1.json
  hubuum/api/v1/tests/helpers/populators.py
  hubuum/api/v1/tests/helpers/test_01_populators.py
  hubuum/api/v1/tests/helpers/test_populators.py
  hubuum/tests/test_30_direct_dynamic.py
Labels: documentation, testing

Linting fix.
  hubuum/api/v1/tests/helpers/populators.py
Labels: none

.github/labeler.yml:

documentation:
  - "docs/*"

migrations:
  - "hubuum/migrations/*"

models:
  - "hubuum/models/*"

settings:
  - "hubuumsite/settings.py"

dependencies:
  - "requirements*"

testing:
  - "hubuum/tests/*"
  - "hubuum/api/*/tests/*"
  - "tox.ini"

github_actions:
  - ".github/workflows/*"
